* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

img {
	max-width: 100%;
    }

ul,ol,menu {
	list-style: none;
    display: flex;
    align-items: center;
}

a:not(.shop) {
	text-decoration: none;
	color: currentColor;
}

.row {
    display: flex;  
    justify-content: space-between; 
    
}

.main-header{
    
    white-space: nowrap;
}


.menu_item {
    padding: 10px 20px;

}

.blubutton{
    background-color: rgb(4, 180, 239);
    padding: 10px;
    color: white;
}


.hero{
    background-color: rgb(124, 187, 255);
    max-width: 100%;
    display: flex;  
   
}


.container-hero{
    max-width: 700px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}
h1{
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 40px;
}

h3,h5{
    margin-bottom: 20px;
}

.col-3{
    flex-basis: 30%;  
  
    
}
.col-7{
    flex-basis: 70%;
    

    
}
.descript{
    padding-bottom: 40px;
    line-height: 16px;
    font-size: 15px;
}

.login{
   margin-bottom: 40px;
}

.arrow{
    display: block;
    font-size: 40px;
    padding-top: 50px;
}

.container{
    max-width: 600px ;
    margin: 0 auto;
}
.col-1{
    padding-top: 100px;
}
.col-2{
    padding: 30px 0;
    font-size: 13px;
}

.select{
    padding-right: 25px;
}

.row-content{
    display: flex; 
    flex-wrap: wrap;
    margin: 0 -15px;
    
}

.col-4{
    flex-basis: calc(100% * (4 / 12));
    padding: 15px;
    
}

i {   
        font-size: 10px;
        margin-top: auto;    
}

.col-12{    
    justify-content: space-between;
    padding: 15px;
    flex-basis: 100%;

   
}
.card-12{
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.663);
    display: flex;
    justify-content: space-between;
}

.titolo{
    border: 1px solid rgba(0, 0, 0, 0.663);
    text-align: center;
    padding: 10px;
}

.piano{
    border: 1px solid rgba(0, 0, 0, 0.663);
    padding: 10px ;    

}

.include{
    margin: 30px 0;
    gap: 20px;
    font-size: 13px;
    align-items: flex-start;
    flex-direction: column;
}

.line{
    border: 1px solid grey;
    max-width: 40px;  
    flex-direction: column;  
}

.list-services{
    padding-top: 20px;
    
}

.check{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 13px;

}

.fa-check{
    color: blue;
}

.contact{
    align-self: center;
}
