* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

img {
	max-width: 100%;
    }

ul,ol,menu {
	list-style: none;
    display: flex;
}

a {
	text-decoration: none;
	color: currentColor;
}

.row {
    display: flex;  
    justify-content: space-between; 
    align-items: center;
}

li {
    padding: 10px 20px;

}

.blubutton{
    background-color: rgb(4, 180, 239);
    margin-right: 10px;
    padding: 10px;
    color: white;
}


.hero{
    background-color: rgb(124, 187, 255);
    max-width: 100%;
    display: flex;  
   
}

.imghero{
 height: 300px;
 width: 800px;    
}



.container-hero{
    max-width: 750px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
}
h1{
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 40px;
}

.col-4{
    flex-basis: 40%;
    padding-right: 20px; 
  
    
}
.col-6{
    flex-basis: 60%;
    position: relative;

    
}
.descript{
    padding-bottom: 40px;
    line-height: 18px;
}

.login{
   margin-bottom: 40px;
}

.arrow{
    display: block;
    font-size: 40px;
    padding-top: 50px;
}

.container{
    max-width: 600px ;
    margin: 0 auto;
}
.col-1{
    padding-top: 100px;
}
.col-2{
    padding-top: 30px;
    font-size: 13px;
    padding-bottom: 50px;
}

.select{
    padding-right: 25px;
}

.row-content{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
    
    
     
}
.col-4{
    flex-basis: calc(100% * (4 / 12));
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.663);
    text-align: center;
    padding: 5px;
}
.col-12{
    border: 1px solid rgba(0, 0, 0, 0.663);
    flex-basis: 100%;
    padding: 5px;
   
}
